<div id="page-container">

  <p-panel >

    <p-header>
      <div id="header">Candlestick Generator</div>
    </p-header>

    <div id="graph-container" [class.waiting]="!isLoaded" (click)="togglePause()"></div>
    <div id="control-panel">
      <div id="button-container">
        <p-button type="button"
                  [icon]="isPaused ? 'pi pi-check' : 'pi pi-minus-circle'"
                  (click)="togglePause()"
                  [label]="isPaused ? 'Start' : 'Pause'"></p-button>

        <p-button (click)="flashPump()"
                  icon="pi pi-arrow-up"
                  [label]="'Pump it'"></p-button>

        <p-button (click)="flashCrash()"
                  icon="pi pi-arrow-down"
                  [label]="'Load a dip'"></p-button>

        <p-button (click)="resetMarket()"
                  icon="pi pi-refresh"
                  [label]="'Reset'"></p-button>
      </div>

      <div id="checkbox-container">
        <p-checkbox label="Neutral" [value]="neutralCheckbox" [(ngModel)]="checkedValues"
            (onChange)="toggleNeutral()"></p-checkbox>

        <p-checkbox label="Bull" [value]="bullCheckbox" [(ngModel)]="checkedValues"
            (onChange)="toggleBull()"></p-checkbox>

        <p-checkbox label="Bear" [value]="bearCheckbox" [(ngModel)]="checkedValues"
            (onChange)="toggleBear()"></p-checkbox>
      </div>

      <div class="slider">
        <div class="slider-desc">Speed: {{speed}}</div>
        <p-slider [(ngModel)]="speed" [max]="maxSpeed" (onChange)="adjustSpeed()"></p-slider>
      </div>
      <div class="slider">
        <div class="slider-desc">Candles: {{maxCandles}}</div>
        <p-slider [(ngModel)]="maxCandles" [max]="1000" [min]="20" (onChange)="adjustMaxCandles()"></p-slider>
      </div>
    </div>
    <p-footer>
      <div id="footer">Use the control panel above to manipulate a randomized market.</div>
    </p-footer>
  </p-panel>
</div>
