$mobile-separator: 600px;
body {
  font: 10px Roboto;
}

#header {
  font-weight: 600;
  font-size: 30pt;
  @media only screen and (max-width: $mobile-separator) {
    font-size: 16pt;
  }
}

#page-container {
  width: 90%;
  max-width: 2000px;
  margin:auto;
  @media only screen and (max-width: $mobile-separator) {
    width: 100%;
  }
  #graph-container {
    cursor: pointer;
    margin-left: 15px;
    height: 50vh;
    width: 95%;
    @media only screen and (max-width: $mobile-separator) {
      height: 45vh;
      width: 90%;
    }
    margin-bottom: 20px;
    ::ng-deep svg {
      display: block;
      width: 99%;
      height: 100%;
    }
  }
  #control-panel {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #c8c8c8;
    @media only screen and (max-width: $mobile-separator) {
      padding-left: 20px;
      padding-right: 20px;
    }
    #button-container {
      margin-bottom: 20px;
    }
    #checkbox-container {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 250px;
      display:flex;
      justify-content: space-between;
    }
    .slider {
      max-width: 400px;
      margin-top: 15px;
      margin-bottom: 15px;
      .slider-desc {
        margin: 8px;
        margin-left: 0;
      }
    }
  }
  #footer {
    margin-left: 35px;
    @media only screen and (max-width: $mobile-separator) {
      margin-left: 3px;
    }
  }
}

/* Overrides for prime faces. */
::ng-deep {
  .ui-panel-content {
    padding: unset;
  }
  body .ui-panel .ui-panel-content {
    padding: unset;
  }
  p-header {
    text-align: center;
  }
  p-button {
    margin-top: 10px;
    margin-right: 10px;
  }
}

/* Graph styles. */
::ng-deep {
  path.candle {
    stroke: #000000;
  }

  text {
    fill: #000;
    font-size: 12px
  }
  .waiting #y-desc {
    display: none;
  }

  path.candle.body {
    stroke-width: 0;
  }

  path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
  }

  path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
  }
}
